@import "./components/navigation";

@import "./components/user";

@import "./components/static";

@import "./components/schedule";

@import "./components/revenue";

@import "./components/feedback";

@import "./components/task";

@import "./components/progress";

@import "./components/shipments";

@import "./components/contacts";

@import "./components/footer";

//===================================only general or time selectors!===================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
}
p {
  margin: 0;
}
//---------------------------------------------
.growth-statistics {
  font-size: 9px;
  font-weight: 200;
  color: #777777;
}

.triangle {
  position: relative;
  font-size: 7px;
  margin: 5px;
}

.triangle.triangle-up::before {
  content: "";
  position: absolute;
  bottom: 1.5px;
  left: 1px;
  transform: rotate(59deg);
  border: 4.04px solid #ffffff;
}

.triangle.triangle-up::after {
  content: "";
  position: absolute;
  bottom: 1.5px;
  right: 1px;
  transform: rotate(31deg);
  border: 5px solid #ffffff;
}

.triangle.triangle-up {
  border-left: 4px solid #a889e9;
  border-right: 4px solid #a889e9;
}

.triangle.triangle-down {
  border-left: 4px solid #fd5670;
  border-right: 4px solid #fd5670;
}

.triangle.triangle-down::before {
  content: "";
  padding-top:2px;
  position: absolute;
  top: 1.7px;
  left: 1px;
  transform: rotate(30deg);
  border: 4.04px solid #ffffff;
}

.triangle.triangle-down::after {
  content: "";
  position: absolute;
  width: 12px;
  top: 0.5px;
  right: 1px;
  transform: rotate(59deg);
  border: 5px solid #ffffff;
}
//---------------------------------------------

.wrapper {
  padding: 10px;
  background-color: rgb(27, 17, 167);
}

.main {
  display: flex;
}

.user {
  width: 1298px;
  height: 71px;
  background-color: #ffff;
  
}

.static {
  display: flex;
  padding: 10px;
  width: 1298px;
  height: 98px;
  background-color: #ffff;
  border: 0.5px solid #e6e4e4;
}

.content {
  padding: 10px;
  // width: 1280px;
  // height:832px;
  background-color: bisque;
}

.charts {
  display: flex;
  padding: 10px;
  //width: 264px;
  //height: 266px;
  background-color: rgb(163, 72, 223);
}



.content-bottom-container {
  display: flex;
  padding: 10px;
  background-color: cornflowerblue;
}

.dynamic-menu__progress-shipments {
  display: flex;
}

.dynamic-menu {
  padding: 10px;
  // width: 501px;
  // height: 509px;
  background-color: darkolivegreen;
}

.footer {
  background-color: darkgoldenrod;
  width: 273px;
  height: 230px;
}
