@import "./components/navigation";

@import "./components/user";

@import "./components/static";

@import "./components/schedule";

@import "./components/revenue";

@import "./components/feedback";

@import "./components/task";

@import "./components/progress";

@import "./components/shipments";

@import "./components/contacts";

@import "./components/footer";

@import "./global/variables";

//===================================only general or time selectors!===================================
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 1378px;
  margin: 0 auto;
  font-family: lato;
}
p {
  margin: 0;
}
//---------------------------------------------
.growth-statistics {
  font-size: 9px;
  font-weight: 200;
  color: #777777;
}

.triangle {
  position: relative;
  font-size: 7px;
  margin: 5px;
}

.triangle.triangle-up::before {
  content: "";
  position: absolute;
  bottom: 1.5px;
  left: 1px;
  transform: rotate(59deg);
  border: 4.04px solid #ffffff;
}

.triangle.triangle-up::after {
  content: "";
  position: absolute;
  bottom: 1.5px;
  right: 1px;
  transform: rotate(31deg);
  border: 5px solid #ffffff;
}

.triangle.triangle-up {
  border-left: 4px solid #a889e9;
  border-right: 4px solid #a889e9;
}

.triangle.triangle-down {
  border-left: 4px solid #fd5670;
  border-right: 4px solid #fd5670;
}

.triangle.triangle-down::before {
  content: "";
  padding-top: 2px;
  position: absolute;
  top: 1.7px;
  left: 1px;
  transform: rotate(30deg);
  border: 4.04px solid #ffffff;
}

.triangle.triangle-down::after {
  content: "";
  position: absolute;
  width: 12px;
  top: 0.5px;
  right: 1px;
  transform: rotate(59deg);
  border: 5px solid #ffffff;
}
//---------------------------------------------

.wrapper {
  background-color: #f1f1f1;
}

.main {
  display: flex;
}

.user {
  width: 1298px;
  height: 71px;
  background-color: #ffff;
}

.static {
  display: flex;
  padding: 10px;
  width: 1298px;
  height: 98px;
  background-color: #ffff;
  border: 0.5px solid #e6e4e4;
}

.box-shadow-container {
  box-shadow: 0 0 4px 4px #E0E0E0;
}

.content-bottom-container{
  display: flex;
  margin: 20px;
}

.charts {
  margin: 20px;
  display: flex;
}

.dynamic-menu {
  flex: 1 1;
  margin-left: 20px;
}

.dynamic-menu__progress-shipments {
  display: flex;
  flex: 1 1;
}
