.nav {
    background-color: aqua;
}

.wrapper {
    background-color: blueviolet;
}

.header {
    background-color: chartreuse;
}

.user {
    background-color: brown;
}

.static {
    background-color: chocolate;
}

.content {
    background-color: bisque;
}

.charts {
    background-color: crimson;
}

.schedule {
    background-color: yellow;
}

.revenue {
    background-color: olive;
}

.content-bottom-container {
    background-color: cornflowerblue;
}

.feedback {
    background-color: orange;
}

.dynamic-menu {
    background-color: darkolivegreen;
}

.task {
    background-color: gray;
}

.progress {
    background-color: yellowgreen;
}

.map {
    background-color: lightgrey;
}

