.feedback {
  padding: 10px;
  width: 467px;
  height: 508px;
  background-color: rgb(255, 255, 255);

  &__block {
    display: flex;
  }

  &__img {
    margin: 0 20px 0 10px;
    width: 43px;
    height: 43px;
  }

  &__customer-label {
    font-size: 14px;
    font-weight: bolder;
  }

  &__background {
    background-color: #f1f1f1;
    border: 0.5px solid #dbdbdb;
    padding: 20px;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__user-block {
    display: flex;
    margin-bottom: 20px;
    font-size: 12px;
  }

  &__user-comment-container {
    margin-bottom: 20px;
  }

  &__user-feedback {
    margin-bottom: 20px;
  }

  &__user-feedback-container {
    border-left: 3px solid #f1f1f1;
    padding-left: 17px;

    &__user-feedback:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #777777;
  }
}
