.footer {
    width: 273px;
    padding: 29px 40px 33px 40px;
    background: #fff;
    text-align: center;

    &__links-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 29px;
    }

    &__links-row {
        display: flex;
        flex-direction: row;
      }
  
    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55px;
      height: 55px;
      border-radius: 20px;
      margin: 4px;
    }

    &__rdio {
      background: linear-gradient(0deg, #6A5BB4,#C28BE5);
    }
  
    &__css {
      background: linear-gradient(0deg, #4DBDC4, #6FEACC);
    }
  
    &__deviantart {
      background: linear-gradient(0deg, #B3717A, #F7CCAE);
    }
  
    &__xing {
      background: linear-gradient(0deg, #8B4EB5, #7E92E5);
    }
  
    &__vimeo {
      background: linear-gradient(0deg, #578DE7, #40CFE0);
    }
  
    &__vk {
      background: linear-gradient(0deg, #F59083, #FBD78C);
    }
  }