.nav-container {
  width: 74px;
  background: linear-gradient(to top, #fd5272, #fc725c);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav__logo {
  width: 74px;
  height: 71px;
  border-radius: 1.5px;
  background-color: #ffffff;
  font-family: Courgette;
  color: #fc725c;
}

.nav__logo-symbol {
  color: #fc725c;
  text-decoration: none;
  margin: 0;
  text-align: center;
  font-size: 51px;
  font-weight: bolder;
}

.nav__logo:hover {
  background-color: #fc725c;
}

.nav__logo-symbol:hover {
  color: #ffffff;
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 27px;
  margin-top: 72px;
  
  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 20px;
    min-height: 70px;
    padding-bottom: 0.625em;
    font-size: 12px;

    text-decoration: none;
    color: #ffffff;
  }

  &__link-home {
    background: url(/source/img/navigation/nav-btn-icons/home.png) no-repeat
      center;
  }

  &__link-statics {
    background: url(/source/img/navigation/nav-btn-icons/statics.png) no-repeat
      center;
  }

  &__link-users {
    background: url(/source/img/navigation/nav-btn-icons/user.png) no-repeat
      center;
  }

  &__link-settings {
    background: url(/source/img/navigation/nav-btn-icons/settings.png) no-repeat
      center;
  }

  &__link-queries {
    background: url(/source/img/navigation/nav-btn-icons/queries.png) no-repeat
      center;
  }

  &__link-power {
    background: url(/source/img/navigation/nav-btn-icons/power-button.png)
      no-repeat center;
    margin-top: 447px;
  }
}
