.nav-container {
  width: 74px;
  height: 1004px;
  background: linear-gradient(to top, #fd5272, #fc725c);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav__logo {
  width: 74px;
  height: 71px;
  border-radius: 1.5px;
  background-color: #ffffff;
  font-family: Courgette;
  color: #FC725C;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.nav__logo-symbol {
  margin: 0;
  text-align: center;
  font-size: 51px;
  font-weight: bolder;
}

.nav__group {
  display: flex;
  flex-direction: column;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 10px;
  padding-top: 20px; 
}

.nav__link:last-child {
  padding-bottom: 20px; 
}
