.progress {
  flex-basis: 50%;
  text-align: center;
  padding: 10px;
  height: calc(31vh - 54.67px);
  background-color: #ffffff;

  &__img {
    height: calc(27vh - 125px);
    
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #777777;
  }

  &__amount {
    font-size: 20px;
    font-weight: 700;
    color: #844bb6;
  }
}
