.progress {
  flex-basis: 50%;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;

  &__img {
    width: 187px;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #777777;
  }

  &__amount {
    font-size: 20px;
    font-weight: 700;
    color: #844bb6;
  }
}
