

  .progress {
    text-align: center;
    padding: 10px;
    height: 245px;
    width: 242px;
    background-color: #ffffff;
  }
  
  .progress__img {
    width: 187px;
    height: 115px;
    background-image: url("./source/img/main/progress/progress-diagram.png");
    background-repeat: no-repeat;
    background-size: 98%;
    background-position-y: 50%;
    background-position-x: 20px;
  }

  .progress__title{
    font-size: 14px;
    font-weight: 700;
    color: #777777;
    }

    .progress__amount {
      font-size: 20px;
  font-weight: 700;
  color: #844BB6;
    }
  