.revenue {
  padding: 10px;
  width: 264px;
  height: 266px;
  background-color: #ffffff;
  background-image: url(/source/img/main/revenue/revenue-circle.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;
  text-align: center;
}

.revenue__amount {
padding-top: 51px;
font-size: 18px;
font-weight: bold;
color: #8761C6;
}