.revenue {
flex-basis: 30%;
  margin-left: 2vh;
  background: #fff;
  text-align: center;

  &__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(31vh - 114.91px);
    height: calc(31vh - 114.91px);
    border-radius: 50%;
    border: 8px solid #6a5bb4;
    background: #ededed;
    margin: auto;
  }

  &__background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(31vh - 142px);
    border-radius: 50%;
    background: #fff;
  }

  &__currency {
    font-size: 25px;
    font-weight: 700;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, #b26ae1, #6a5bb4);
  }

  &__course {
    display: flex;
    justify-content: center;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #777777;
  }
}
