.schedule {
  flex-basis: 70%;
  padding: 10px;
  min-width: 704px;
  height: calc(31vh - 54.67px);
  background-color: #ffffff;
  background-image: url(../.././source/img/main/schedule/schedule.png);
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 50%;

  &__ellipse-button {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    color: #ffffff;
    background: linear-gradient(to right, #fd4f75, #fc7659);
    width: 68px;
    height: 24px;
    border-radius: 11px;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
  }

  &__name-btn {
    margin: auto;
  }

  &__day-button {
    border: none;
    background: none;
  }

  &__year-button {
    border: none;
    background: none;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #777777;
  }
}
