.schedule {
  flex-basis: 70%;
  padding: 10px;
  min-width: 704px;
  background-color: #ffffff;

  &__ellipse-button {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    color: #ffffff;
    background: linear-gradient(to right, #fd4f75, #fc7659);
    width: 68px;
    height: 24px;
    border-radius: 11px;
    line-height: 22px;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
  }

  &__day-button {
    border: none;
    background: none;
  }

  &__year-button {
    border: none;
    background: none;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #777777;
  }

  &__img-container {
    text-align: center;
  }

  &__img {
    width: 650px;
  }
}
