.shipments {
  flex-basis: 50%;
  text-align: center;
  margin-left: 2vh;
  padding: 10px;
  background-color: #ffffff;

  &__img {
  width: 187px;
  }

  &__growth-statistics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #777777;
  }

  &__amount {
    font-size: 20px;
    font-weight: 700;
    color: #fc6565;
  }
}
