.shipments {
  padding: 10px;
  width: 241px;
  height: 245px;
  background-color: #ffffff;
}

.shipments__img {
  width: 187px;
  height: 115px;
  background-image: url("/source/img/main/shipments/shipments-map.png");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position-y: 50%;
  background-position-x: 50%;
}
