.shipments {
  text-align: center;
  margin-left: 20px;
  padding: 10px;
  width: 241px;
  height: 245px;
  background-color: #ffffff;
}

.shipments__img {
  width: 187px;
  height: 115px;
  background-image: url("./source/img/main/shipments/shipments-map.png");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position-y: 50%;
  background-position-x: 50%;
}

.shipments__growth-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shipments__title {
  font-size: 14px;
  font-weight: 700;
  color: #777777;
}

.shipments__amount {
  font-size: 20px;
  font-weight: 700;
  color: #FC6565;
}