.task {
  text-align: left;
  flex-basis: 20%;
  margin-bottom: 2vh;
  height: calc(31vh - 54.67px);
  background-color: rgb(247, 247, 247);
  position: relative;
  padding: 11px 9px 14px 11px;
  background: #fdfeff;

  &__items {
height: calc(31vh - 139.11px)
}
  &__description {
    color: #fc6962;
    font-size: 13px;
    font-weight: 900;
  }

  &__title {
    font-size: 14px;
    font-weight: 700;
    color: #777777;
    margin: 11px 0;
  }

  &__container {
    padding: 10px 5px;
    display: flex;
    border-top: 1px solid beige;
  }

  &__container:last-child {
    border-bottom: 1px solid beige;
  }

  &__text {
    font-size: 13px;
    line-height: 19.34px;
  }

  &__time {
     flex-grow: 1;
     text-align: end;
  }
}
